.category {
    font-style: Poppins;
    color: #070D15;
    margin-top: 1rem;
    max-width: 150px;
    max-height: 220px;
    align-items: center;
    text-align: center;

    h3 {
        font-size: 30px;
        font-weight: 600;
        color: #264065;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        margin-top: 1rem;
        color: #909090;
    }
}